html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main_navigation_panel {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(128, 141, 135, 0.8);
  z-index: 1;
}

.main_navigation_panel:hover {
  background-color: rgba(59, 122, 10, 0.027);
}

.navigation_bar_buttons {
  display: flex;
  justify-content: center;
  list-style: none;
}

.main_navigation_panel li {
  padding: 0 20px;
}

.main_navigation_panel a {
  letter-spacing: 0.25ex;
  font-size: 22px;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 10px 0;
}

/*padding for icons */
.main_navigation_panel i {
  padding: 5px;
}

.main_navigation_panel a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  margin: 0 auto;
}

.background {
  background-image: url(../Images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}


.header {
  color: thistle;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

h1 {
  margin-top: 10%;
  font-size: 50px;
  color: darkred;
}

.content {
  margin: 60px auto 0 auto;
  width: 95%;
}

.w3-content-w3-display-container {
  max-width: 1300px;
}

.mySlides {
  width: 100%;
}

.Column-flex {
  display: flex;
  flex-direction: row;
}

.Text_near {
  margin-left:7%;
  margin-right:7%;	
  color: Black;
  font-size:20px;
}

.Video_Content {
  width: 75%;
  height: 750px;
}

.music {
  padding: 40px;
  color: black;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.icon_color {
  color: whitesmoke;
}

audio {
  margin-right: 30px;
}

.mySlides {
  display: none;
}

.w3-left,
.w3-right,
.w3-badge {
  cursor: pointer;
}

.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}
